.textContainer{
    height: 60%;
    width: 20%;
    background-color: white;
    border-radius: 2%;
    margin-left: 1rem;
}
.textContainer-header {
    background: #2979FF;
    border-radius: 4px 4px 0 0;
    height: 60px;
    width: 100%;
    margin: 0;
    padding: 15px 0;
    text-align: center;
}
.textContainer-userName {
    width: 97%;
    background-color: lightgray;
    padding: 0.5rem;
    border-radius: 5%;
    margin: 0.25rem auto;
    color: dodgerblue;
}